div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
    margin-bottom: 5px;
    
}
#box1{
    /* background-image: url("cat_photo.jpg.jpg");
    background-size: contain; */
}
body{
    background-image: url("cat_photo.jpg.jpg");
    background-size: cover;
}